html {
  height: 100%;
}

body {
  line-height: 1.6;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

header.topnav {
  grid-area: header;
}

header.topnav .center.mobile span {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 16px;
}

main {
  grid-area: main;
  height: 100%;
  overflow: auto;
  background-color: var(--background);
}

/* max-width-wrapper is responsible for centering content in main area.
   If we applied the same rules to main, the scrollbar would show up offset from the
   right edge, at `margin-right:auto` distance. */
main .max-width-wrapper {
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
}

li::marker {
  font-size: 0.8em;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--background-dimmed);
  border-right: 1px solid var(--border-color);
  height: 100%;
  overflow: auto;
  padding-bottom: 40px;
}

#hamburger {
  cursor: pointer;
}

.badges {
  display: none; /* not yet ready for prime time */
}
/* --- Elements -------------------------------------------------------- */
:is(h1, h2) {
  color: var(--color);
  font-weight: 700;
  margin-bottom: 24px;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 32px;
}

:is(h3, h4, h5) {
  color: var(--color);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 8px;
}

h3 {
  font-weight: 700;
}

h5 {
  color: var(--color-slightly-dimmed);
}

p {
  color: var(--color-dimmed);
  margin-bottom: 24px;
}
/* Reduce margin bottom if code block follows */
p:has(+ pre) {
  margin-bottom: 8px;
}

ul,
ol {
  margin: 24px;
}

li {
  line-height: 1.6;
}

a {
  color: var(--color-accent);
  &:hover,
  &:hover code {
    color: var(--color-accent-hover);
  }
}

a > code {
  color: var(--color-accent);
  padding-left: 0;
  padding-right: 0;
}

pre {
  margin: 16px 0 24px;
  padding: 16px 12px;
  border-left: 6px solid var(--border-color);
  overflow-x: auto;
  background: var(--background-code);
  max-width: fit-content;
}

code {
  padding: 0.25em;
  font-size: max(0.85rem, 0.85em);
  background-color: var(--background-inline-code);
  border-radius: 4px;
  color: var(--color);
}

pre code {
  padding: 0;
  color: var(--color);
  background: none;
  margin-bottom: 24px;
}

table {
  border-collapse: collapse;
  margin: 16px 0 36px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
tr {
  border-top: 1px solid var(--border-color);
}
thead > tr {
  border-top: none;
}
th,
td {
  text-align: left;
  line-height: 2;
  padding: 2px 24px;
  &:first-child {
    padding-left: 0px;
  }
}
th {
  font-weight: 700;
  color: var(--color-slightly-dimmed);
}

/* --- Form elements ----------------------------------------------------- */
form {
  margin-left: 32px;
  padding-bottom: 0;
  margin-bottom: 32px;
  border-top: 1px solid var(--border-color);
}
form svg {
  width: 200px;
  height: 200px;
}
form > *:last-child {
  margin-bottom: 0;
}

fieldset {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, min-content);
  grid-auto-flow: column;
  column-gap: 32px;
  row-gap: 8px;
  border: none;
}
fieldset > div {
  display: flex;
  align-items: start;
  gap: 8px;
  background: var(--background-dimmed);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px;
}
fieldset + * {
  margin-top: 24px;
}
fieldset pre {
  margin: 0;
  border: 1px solid var(--border-color);
  border-left: none;
  max-width: 100%;
}
fieldset > div > pre {
  /* multiple choice: fill remaining space */
  flex: 1;
  height: 100%;
  padding: 8px 12px;
}
textarea {
  display: block;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background: var(--background-code);
  font-family: var(--font-family-code);
}
label {
  display: flex;
  align-items: stretch;
}
input[type="radio"],
input[type="checkbox"] {
  margin-left: 8px;
}

/* --- Alert notes ------------------------------------------------------- */
.alert {
  font-size: 0.875em;
  max-width: 32rem;
  border-left: 4px solid var(--border-color);
  padding: 8px 16px;
  margin-left: 24px;
}
.alert > *:last-child {
  margin-bottom: 0;
}
.alert-title {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.alert-title > svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  display: inline-block;
}
.alert-note {
  border-color: var(--alert-note);
  .alert-title {
    color: var(--alert-note);
  }
}

/* --- Header -------------------------------------------------------- */
.topnav .logo {
  margin-left: 0;
}

.topnav a strong {
  font-weight: normal;
  color: var(--color-accent-hover);
  transition: color filter 0.2s ease-in-out;
}

.topnav a:hover,
.topnav button:hover {
  color: var(--color-accent-hover);
}

.docs-nav {
  display: flex;
  align-items: center;
  gap: 26px;
}

.docs-nav .active {
  color: var(--color-accent);
}

/* --- responsive -------------------------------------------------------- */
@media (max-width: 767px) {
  .docs-nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  main .max-width-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
