:root {
  /* theme */
  --ff: "Inter", sans-serif;
  --ff-code: "Fira Code", monospace;
  --bg: hsl(210deg 5% 15%);
  --color: hsl(0deg 0% 100%);
  --color-hover: hsl(0deg 0% 100% / 70%);
  --header-bg: hsl(213deg 10% 23%);
  --output-bg: hsl(0deg 0% 100%);
  --output-color: hsl(0deg 0% 0% / 80%);
  --output-border-dark: hsl(0deg 0% 80%);
  --output-border-mid: hsl(0deg 0% 85%);
  --output-border-light: hsl(0deg 0% 92%);
  --line-num-color: hsl(212deg 8% 47%);
  --syntax-num: hsl(204deg 100% 75%);
  --syntax-string: hsl(203deg 100% 86%);
  --syntax-func: hsl(266deg 100% 86%);
  --syntax-builtin: hsl(27deg 100% 74%);
  --syntax-keyword: hsl(359deg 100% 75%);
  --syntax-comment: hsl(210deg 13% 72%);
  --syntax-error-line-bg: hsl(210deg 7% 20%);
  --syntax-error-bg: hsl(209deg 100% 33%);
  --btn-color: hsl(0deg 0% 33%);
  --btn-color-active: hsl(0deg 0% 100%);
  --btn-color-disabled: hsl(0deg 0% 33% / 50%);
  --btn-bg: hsl(0deg 0% 92%);
  --btn-bg-hover: hsl(0deg 0% 80%);
  --modal-bg: hsl(210deg 5% 15% / 95%);
  --modal-color: hsl(0deg 0% 100% / 80%);
  --modal-color-hover: hsl(0deg 0% 100% / 100%);
  --modal-circle-color: hsl(0deg 0% 35%);
  --modal-circle-bg: hsl(0deg 0% 13%);
  --slide-transition-duration: 0.3s;

  /* responsive desktop */
  --display-desktop-only: initial;
  --display-mobile-only: none;
  --header-img-top: 0.3em;
  --header-breadcrumbs-order: 1;
  --header-breadcrumbs-flex: 1;
  --header-breadcrumbs-align: left;
  --header-logo-order: 2;
  --header-logo-flex: 2;
  --header-logo-align: center;
  --header-padding: 16px;
  --header-height: calc(var(--header-padding) * 2 + 1.5rem + 1px);
  --main-width: 100%;
  --main-translate: none;
  --editor-width: auto;
  --editor-padding: 32px;
  --editor-padding-bottom: 16px;
  --canvas-size: min(33vw, 70vh);
  --wrapper-max-width: calc(75ch + var(--canvas-size) + 32px);
  --console-width: var(--canvas-size);
  --output-width: calc(var(--canvas-size) + 2px);
  --output-margin: 20px 20px 16px;
  --output-border: 1px solid var(--output-border-mid);
  --output-border-top-width: 23px;
  --output-border-radius: 6px;
  --output-border-width: 1px;
  --modal-item-width: 18rem;
  --slide: 0;
}

@media (max-width: 767px) {
  /* responsive mobile */
  :root {
    --display-desktop-only: none;
    --display-mobile-only: initial;
    --header-img-top: 0.2em;
    --header-breadcrumbs-order: 2;
    --header-breadcrumbs-flex: 2;
    --header-breadcrumbs-align: center;
    --header-logo-order: 1;
    --header-logo-flex: 1;
    --header-logo-align: left;
    --main-width: 200vw;
    --main-translate: 0;
    --editor-padding-bottom: 72px;
    --output-width: 100vw;
    --output-margin: 0;
    --output-border: none;
    --output-border-top-width: 0;
    --output-border-radius: 0;
    --output-border-width: 0;
    --editor-width: 100vw;
    --editor-padding: 16px;
    --canvas-size: min(100vw, 60vh);
    --console-width: 100vw;
    --modal-item-width: 100vw;
    --slide: -100vw;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --slide-transition-duration: 0;
  }
}

/* --- Resets -------------------------------------------------------- */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1.5;
  text-size-adjust: 100%;
}

/* --- Global -------------------------------------------------------- */
body {
  font-family: var(--ff);
  letter-spacing: 0.15px;
  tab-size: 4;
  background: black;
  color: var(--color);
  overflow: clip;
}
a {
  transition: all 0.3s ease-in-out;
}

/* --- Header -------------------------------------------------------- */
header {
  background: #34393f;
  padding: var(--header-padding);
  font-family: var(--ff);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
}
header .breadcrumbs {
  list-style: none;
  display: flex;
  order: var(--header-breadcrumbs-order);
  flex: var(--header-breadcrumbs-flex);
  text-align: var(--header-breadcrumbs-align);
  justify-content: var(--header-breadcrumbs-align);
}
header .logo {
  order: var(--header-logo-order);
  flex: var(--header-logo-flex);
  text-align: var(--header-logo-align);
  justify-content: var(--header-logo-align);
}
header .logo img {
  position: relative;
  height: 1.2em;
  top: var(--header-img-top);
}
#share {
  order: 3;
  flex: 1;
  text-align: right;
  color: var(--color);
  cursor: pointer;
}
#share:hover {
  color: var(--color-hover);
}
#share > * {
  display: var(--display-desktop-only);
}
#share svg {
  position: relative;
  top: 0.2em;
}
.breadcrumbs li {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breadcrumbs li:not(:last-child) {
  display: var(--display-desktop-only);
}
.breadcrumbs li:not(:last-child)::after {
  content: "›";
  padding: 0 10px;
}
.breadcrumbs button {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}
.breadcrumbs button:hover {
  color: var(--color-hover);
}

/* --- Main ---------------------------------------------------------- */
main {
  background: var(--bg);
  width: var(--main-width);
  translate: var(--main-translate);
  height: calc(100vh - var(--header-height));
  display: flex;
  overflow: clip;
  transition-property: translate;
  transition-timing-function: ease-in-out;
  transition-duration: var(--slide-transition-duration);
}
main.view-output {
  translate: var(--slide);
}
.max-width-wrapper {
  max-width: var(--wrapper-max-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  font-family: var(--ff-code);
  font-variant-ligatures: none;
  font-size: 1rem;
}

/* --- Editor -------------------------------------------------------- */
.editor-wrap {
  margin-top: var(--editor-padding);
  padding-bottom: var(--editor-padding-bottom);
  font-size: 1rem;
  flex: 1;
  overflow: auto;
  width: var(--editor-width);
}
.editor {
  color: var(--color);
  background: var(--bg);
  font-size: 1rem;
  font-family: var(--ff-code);
  font-variant-ligatures: none;
  position: relative;
  overflow: hidden;
  width: max-content;
  min-width: 100%;
}
.editor textarea {
  line-height: inherit;
  white-space: pre-wrap;
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  resize: none;
  caret-color: var(--color);
  padding: inherit;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-variant-ligatures: inherit;
  letter-spacing: inherit;
  border: none;
  top: 0;
  left: 0;
  overflow: hidden;
  color: transparent;
}
.editor pre {
  line-height: inherit;
  white-space: pre-wrap;
  word-break: keep-all;
  padding: 0;
  width: max-content;
  margin: 0;
  font-size: inherit;
  font-variant-ligatures: inherit;
  letter-spacing: inherit;
  pointer-events: none;
  font-family: inherit;
}
.editor pre.highlighted {
  position: relative;
  overflow: hidden;
}
.editor pre.lines {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: auto;
  min-width: 100%;
}
.editor pre.highlighted .err {
  background: var(--syntax-error-bg);
  border-radius: 6px;
}
.editor .num,
.editor .bool {
  color: var(--syntax-num);
}
.editor .str {
  color: var(--syntax-string);
}
.editor .func {
  color: var(--syntax-func);
}
.editor .builtin {
  color: var(--syntax-builtin);
}
.editor .keyword {
  color: var(--syntax-keyword);
}
.editor .error {
  background: var(--syntax-error-bg);
  color: var(--color);
  font-style: italic;
}
.editor .op {
  color: var(--syntax-keyword);
}
.editor .comment {
  color: var(--syntax-comment);
  font-style: italic;
  font-weight: 300;
}
.editor .lines .num {
  position: absolute;
  color: var(--line-num-color);
  left: 0;
}
.editor .lines .txt {
  color: transparent;
  pointer-events: none;
}
.editor .lines .err.num {
  background: var(--syntax-error-bg);
  color: var(--color);
}
.editor .lines .err.txt {
  left: calc(2ch + 1.2rem);
  right: 0;
  padding-left: 0.3rem;
  background: var(--syntax-error-line-bg);
  border-radius: 6px;
  position: absolute;
}
.editor .lines .err.num::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0 H2 L10 12 L2 24 H0V0 Z' fill='%230057A8'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  content: "";
  width: 0.8rem;
  position: absolute;
  right: -0.8rem;
  top: 0;
  bottom: 0;
}

/* --- Output -------------------------------------------------------- */
.output {
  width: var(--output-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--output-border-light);
  border-radius: var(--output-border-radius);
  margin: var(--output-margin);
  border: var(--output-border);
  border-top-width: var(--output-border-top-width);
}
.output .canvas {
  margin-left: auto;
  margin-right: auto;
  background: var(--output-bg);
  width: var(--canvas-size);
  height: var(--canvas-size);
  border-top: 1px solid var(--output-border-dark);
  border-top-width: var(--output-border-width);
  border-bottom: 1px solid var(--output-border-light);
}
.output .canvas canvas {
  width: 100%;
  height: 100%;
  touch-action: pinch-zoom;
}
.read {
  display: flex;
}
.output .console,
.output .read,
.output .input {
  padding: 16px;
  background: var(--output-bg);
  color: var(--output-color);
  font-family: var(--ff-code);
  font-variant-ligatures: none;
  border-top: 1px solid var(--output-border-dark);
  border-bottom: 1px solid var(--output-border-light);
  width: var(--console-size);
}
.output .read textarea {
  font-size: 1rem;
  font-family: var(--ff-code);
  font-variant-ligatures: none;
  color: var(--output-color);
  -webkit-text-fill-color: var(--output-color);
  line-height: 1.5;
  height: 1.5em;
  margin-left: 16px;
  border: none;
  outline: none;
  resize: none;
}
.output .console {
  flex: 1;
  overflow: auto;
  white-space: pre;
  border-bottom-width: var(--output-border-width);
  padding-bottom: var(--editor-padding-bottom);
}

/* --- Run ----------------------------------------------------------- */
.run {
  padding: 8px;
  padding-bottom: 12px;
}
.run.mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
}
.run.desktop {
  border-top: 1px solid var(--output-border-dark);
  background: var(--output-bg);
}
.run button#run,
.run button#run-mobile {
  color: var(--btn-color);
  background: var(--btn-bg);
  box-shadow: 0 4px 0 hsl(0deg 0% 42%), 0 16px 12px -8px hsl(0deg 0% 0% / 42%),
    inset 0 -2px 1px 1px hsl(0deg 0% 42%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 52px;
  height: 52px;
  text-align: center;
  font-family: Inter, sans-serif;
  border: none;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
}
.run button:disabled {
  color: var(--btn-color-disabled);
  box-shadow: 0 4px 0 hsl(0deg 0% 60%), 0 16px 12px -8px hsl(0deg 0% 0% / 30%),
    inset 0 -2px 1px 1px hsl(0deg 0% 60%);
  cursor: not-allowed;
}
.run button:hover:enabled {
  background: var(--btn-bg-hover);
}
.run button.running,
.run button.running:hover {
  color: var(--btn-color-active);
  letter-spacing: 0.2em;
  transition: 0s;
  background: linear-gradient(
    270deg,
    hsl(0deg 100% 67%) 0,
    hsl(47deg 22% 52%) 20%,
    hsl(105deg 37% 46%) 35%,
    hsl(162deg 27% 52%) 55%,
    hsl(223deg 36% 58%) 70%,
    hsl(292deg 59% 62%) 90%,
    hsl(0deg 100% 67%) 100%
  );
  animation: slide-background 1s linear infinite;
}

@keyframes slide-background {
  to {
    background-position: calc(var(--output-width) - 17px);
  }
}

/* --- Sample selection modal ---------------------------------------- */
#modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  overflow: clip;
}
#modal header {
  border-bottom: 1px solid hsl(0deg 0% 100% / 30%);
  color: hsl(0deg 0% 70%);
  background: var(--modal-bg);
  justify-content: right;
}
#modal-close {
  position: relative;
  top: 0.2em;
  right: 0.2em;
  cursor: pointer;
  background: none;
  color: var(--color);
  border: none;
  font-size: 1rem;
}
#modal-close:hover {
  color: var(--hover-color);
}
.modal-main {
  font-family: var(--ff);
  padding: 36px 32px;
  overflow-y: auto;
  display: flex;
  background: var(--modal-bg);
  flex-wrap: wrap;
  height: 100%;
}
#modal .modal-main .item {
  width: var(--modal-item-width);
  padding-bottom: 16px;
}
#modal .modal-main h2 {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 8px;
}
#modal .modal-main ul {
  padding-left: 6px;
  margin-bottom: 0;
  list-style: none;
}
#modal .modal-main li {
  padding-bottom: 6px;
  line-height: 1.6;
}
#modal li a {
  font-family: var(--ff);
  color: var(--modal-color);
  padding-left: 1.5rem;
  text-decoration: none;
  position: relative;
}
#modal ul li a:hover {
  color: var(--modal-color-hover);
}
#modal ul li a::before {
  content: "";
  position: absolute;
  height: 1rem;
  left: 0;
  top: 0.125rem;
  width: 1rem;
  border: 2px solid var(--modal-circle-color);
  border-radius: 50%;
  background: var(--modal-circle-bg);
  display: inline-block;
  z-index: 1;
}
#modal ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0.42rem;
  top: 1rem;
  width: 2px;
  background: var(--modal-circle-color);
}

#modal-share {
  justify-content: center;
  padding-top: 48px;
}
#modal-share label {
  line-height: 2rem;
}
#modal-share input,
#modal-share button {
  height: 2rem;
}
#modal-share button {
  padding: 4px 16px;
  margin-left: 16px;
  color: var(--btn-color);
  background: var(--btn-bg);
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
#modal-share button {
  cursor: pointer;
  background: var(--btn-bg-hover);
}
#modal-share button.copy {
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid hsl(0deg 0% 70%);
}
#modal-share button.copy svg {
  width: 1rem;
  height: 1rem;
}
#modal-share input {
  margin-left: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  outline: none;
}

/* --- Easter egg ---------------------------------------------------- */
.confetti {
  height: 7vw;
  width: 7vw;
  line-height: 7vw;
  border-radius: 50%;
  position: absolute;
  font-size: 4vw;
  user-select: none;
  text-align: center;
  color: hsl(0deg 0% 100%);
}
.confetti.fadeout {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* --- Utilities ----------------------------------------------------- */
.desktop {
  display: var(--display-desktop-only);
}
.mobile {
  display: var(--display-mobile-only);
}
.hidden {
  display: none;
}
