/.hermit/
/e2e/test-results
/e2e/**/*-darwin.png
/e2e/**/*-linux.png
/firebase/*.log
/firebase/.firebase/
/frontend/module/evy.wasm
/frontend/module/wasm_exec.js
/frontend/version.json
/out/

node_modules/
