/* Header navigation. Minimal demo: ./header.html */
.topnav {
  display: flex;
  width: 100%;
  height: var(--topnav-height);
  background: var(--background-dimmed);
  color: var(--color);
  padding: 0 18px;
  border-bottom: 1px solid var(--border-color);
}

.topnav > * {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.topnav .left {
  justify-content: flex-start;
}

.topnav .center {
  justify-content: center;
}

.topnav .right {
  justify-content: flex-end;
  align-self: flex-end;
}

.topnav button {
  background: none;
  color: var(--color);
  border: none;
  outline: none;
  align-items: center;
}

.topnav button:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.topnav a {
  color: var(--color);
  text-decoration: none;
}

.topnav a:hover {
  color: var(--color-accent);
}

.topnav .logo {
  height: 1.25em;
  margin-top: 0.25em;
  margin-left: 20px;
}
