/* SVG-CSS icons.
  CSS classes embed SVG icons via `mask` or `background` properties.
  SVG source files are located at /img/icon/*.svg.
  Encoding tool: https://yoksel.github.io/url-encoder/
*/
.icon-close {
  mask: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M4,4 L20,20' /%3E%3Cpath d='M4,20 L20,4' /%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-copy {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' stroke='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 0 1-1.75 1.75H8.774a1.75 1.75 0 0 1-1.75-1.75Zm1.75-.25a.25.25 0 0 0-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25Z' %3E%3C/path%3E%3Cpath d='M1.995 10.749a1.75 1.75 0 0 1 1.75-1.751H5.25a.75.75 0 1 1 0 1.5H3.745a.25.25 0 0 0-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 0 0 .25-.25v-1.51a.75.75 0 1 1 1.5 0v1.51A1.75 1.75 0 0 1 13.25 22h-9.5A1.75 1.75 0 0 1 2 20.25l-.005-9.501Z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.icon-discord {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z' /%3E%3C/svg%3E%0A");
}

.icon-email {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14a1.75 1.75 0 0 1-1.75 1.75H1.75A1.75 1.75 0 0 1 0 18.75v-14C0 3.784.784 3 1.75 3ZM1.5 7.412V18.75c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V7.412l-9.52 6.433c-.592.4-1.368.4-1.96 0Zm0-2.662v.852l10.36 7a.25.25 0 0 0 .28 0l10.36-7V4.75a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25Z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.icon-hamburger {
  mask: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3,17 H21 M3,12 H21 M3,7 H21' stroke-width='2' stroke-linecap='round' /%3E%3C/svg%3E");
}

.icon-github {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 26 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0C11.2928 0 9.60235 0.331349 8.02512 0.975129C6.44788 1.61891 5.01477 2.56251 3.80761 3.75206C1.36964 6.15447 0 9.41282 0 12.8103C0 18.4725 3.731 23.2764 8.892 24.9802C9.542 25.0826 9.75 24.6855 9.75 24.3396V22.1747C6.149 22.9433 5.382 20.4581 5.382 20.4581C4.784 18.9721 3.939 18.575 3.939 18.575C2.756 17.7807 4.03 17.8064 4.03 17.8064C5.33 17.896 6.019 19.1258 6.019 19.1258C7.15 21.073 9.061 20.4965 9.802 20.1891C9.919 19.3564 10.257 18.7928 10.621 18.4725C7.735 18.1522 4.706 17.0506 4.706 12.1698C4.706 10.7479 5.2 9.60775 6.045 8.69822C5.915 8.37796 5.46 7.04569 6.175 5.31629C6.175 5.31629 7.267 4.97041 9.75 6.62294C10.777 6.34112 11.895 6.2002 13 6.2002C14.105 6.2002 15.223 6.34112 16.25 6.62294C18.733 4.97041 19.825 5.31629 19.825 5.31629C20.54 7.04569 20.085 8.37796 19.955 8.69822C20.8 9.60775 21.294 10.7479 21.294 12.1698C21.294 17.0634 18.252 18.1394 15.353 18.4597C15.821 18.8568 16.25 19.6382 16.25 20.8296V24.3396C16.25 24.6855 16.458 25.0955 17.121 24.9802C22.282 23.2636 26 18.4725 26 12.8103C26 11.1281 25.6637 9.46225 25.0104 7.90803C24.3571 6.35381 23.3995 4.94161 22.1924 3.75206C20.9852 2.56251 19.5521 1.61891 17.9749 0.975129C16.3977 0.331349 14.7072 0 13 0Z' /%3E%3C/svg%3E%0A");
}

.icon-share {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' stroke='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 5.5a3.498 3.498 0 0 1-6.062 2.385l-5.112 3.021a3.498 3.498 0 0 1 0 2.188l5.112 3.021a3.5 3.5 0 1 1-.764 1.29l-5.112-3.02a3.499 3.499 0 1 1-3.843-5.642 3.499 3.499 0 0 1 3.843.872l5.112-3.021A3.5 3.5 0 1 1 20 5.5Zm-1.5 13a2 2 0 1 0-3.999-.001 2 2 0 0 0 3.999.001Zm0-13a2 2 0 1 0-3.999-.001A2 2 0 0 0 18.5 5.5ZM5.5 14a2 2 0 1 0 .001-3.999A2 2 0 0 0 5.5 14Z' /%3E%3C/svg%3E%0A");
}

.icon-search {
  mask: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.25 2a8.25 8.25 0 0 1 6.34 13.53l5.69 5.69a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-5.69-5.69A8.25 8.25 0 1 1 10.25 2ZM3.5 10.25a6.75 6.75 0 1 0 13.5 0 6.75 6.75 0 0 0-13.5 0Z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.logo-small {
  height: 1.5em;
  width: 1.5em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 142.5 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke-linecap='round' stroke-width='25' fill='none'%3E%3Cpath d='M12.5,12.5 h0' stroke='hsl(49deg 100%25 50%25) ' /%3E%3Cpath d='M50,12.5 h80' stroke='hsl(336deg 78%25 64%25)' /%3E%3Cpath d='M12.5,50 h0' stroke='hsl(7deg 66%25 56%25)' /%3E%3Cpath d='M50,50 h42.5' stroke='hsl(201deg 100%25 63%25)' /%3E%3Cpath d='M12.5,87.5 h0' stroke='hsl(150deg 50%25 47%25) ' /%3E%3Cpath d='M50,87.5 h72.5' stroke='hsl(234deg 48%25 51%25)' /%3E%3C/g%3E%3C/svg%3E");
}

.icon-chevron,
.icon-close,
.icon-copy,
.icon-discord,
.icon-email,
.icon-hamburger,
.icon-github,
.icon-share,
.icon-search {
  background-color: currentcolor !important;
  height: 1.5em;
  width: 1.5em;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
