:root {
  --footer-color: hsl(0deg 0% 100% / 40%);
}

.max-width-wrapper {
  max-width: calc(54rem + 32px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 2;
}

main,
footer {
  width: 100%;
}

.evy-e {
  width: 227px;
  height: 240px;
  margin-top: 124px;
  margin-bottom: 70px;
  color-scheme: normal;
}

.evy-logo {
  width: 108px;
}

.action {
  width: 18rem;
  margin-top: 72px;
  margin-bottom: 78px;
}

p {
  width: 100%;
  font-size: 1.125rem;
  line-height: 2;
  max-width: 72ch;
}

.screencast {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-bottom: 80px;
}

footer {
  border-top: 1px solid var(--border-color);
  height: 80px;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 767px) {
  footer ul {
    flex-direction: column;
    gap: 10px;
  }
}

footer a {
  color: var(--footer-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
}

footer a:hover {
  color: var(--color);
}
