/* TODO: move this file to play/css/index.css once hashing is fixed in scripts/firebase-deploy */
:root {
  /* theme */
  --border-color: hsl(0deg 0% 100% / 20%);
  --border-color-dialog: hsl(0deg 0% 30%);
  --header-background: hsl(213deg 10% 23%);
  --output-background: hsl(0deg 0% 100%);
  --output-color: hsl(0deg 0% 0% / 80%);
  --output-border-dark: hsl(0deg 0% 80%);
  --output-border-mid: hsl(0deg 0% 85%);
  --output-border-light: hsl(0deg 0% 92%);
  --line-num-color: hsl(212deg 8% 47%);
  --syntax-num: hsl(204deg 100% 75%);
  --syntax-string: hsl(203deg 100% 86%);
  --syntax-func: hsl(266deg 100% 86%);
  --syntax-builtin: hsl(27deg 100% 74%);
  --syntax-keyword: hsl(359deg 100% 75%);
  --syntax-comment: hsl(210deg 13% 72%);
  --syntax-error-line-background: hsl(210deg 7% 20%);
  --syntax-error-background: hsl(209deg 100% 33%);
  --btn-color: hsl(0deg 0% 33%);
  --btn-color-active: hsl(0deg 0% 100%);
  --btn-color-disabled: hsl(0deg 0% 33% / 50%);
  --btn-background: hsl(0deg 0% 92%);
  --btn-background-hover: hsl(0deg 0% 80%);
  --modal-background: hsl(210deg 5% 15% / 95%);
  --modal-color: hsl(0deg 0% 100% / 80%);
  --modal-color-hover: hsl(0deg 0% 100% / 100%);
  --modal-circle-color: hsl(0deg 0% 35%);
  --modal-circle-background: hsl(0deg 0% 13%);
  --header-img-top: 0.3em;
  --header-padding: 16px;
  --header-height: calc(var(--header-padding) * 2 + 1.5rem + 1px);
  --main-width: 100%;
  --main-translate: none;
  --editor-width: auto;
  --editor-padding-bottom: 16px;
  --editor-border: 1px solid var(--border-color);
  --editor-margin: 20px 0 16px 16px;
  --canvas-size: min(33vw, 60vh);
  --wrapper-max-width: calc(75ch + var(--canvas-size) + 32px);
  --console-width: var(--canvas-size);
  --output-width: calc(var(--canvas-size) + 2px);
  --output-margin: 20px 16px 16px 24px;
  --output-border: 1px solid var(--output-border-mid);
  --output-border-top-width: 23px;
  --output-border-radius: 6px;
  --output-border-width: 1px;
  --modal-section-width: 18rem;
  --slide: 0;
  --slide-transition-duration: 0.3s;
  --sidemenu-width: min(100vw, 18rem);
  --sidemenu-transition-duration: 0.2s;
  --dialog-width: min(100vw, 36rem);
}

@media (width <= 767px) {
  /* responsive mobile */
  :root {
    --header-img-top: 0.2em;
    --main-width: 200vw;
    --main-translate: 0;
    --output-width: 100vw;
    --output-margin: 0;
    --output-border: none;
    --output-border-top-width: 0;
    --output-border-radius: 0;
    --output-border-width: 0;
    --editor-border: none;
    --editor-margin: 4px 0 0 0;
    --editor-padding-bottom: 72px;
    --editor-width: 100vw;
    --canvas-size: min(100vw, 60vh);
    --console-width: 100vw;
    --modal-section-width: 100vw;
    --slide: -100vw;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --slide-transition-duration: 0;
    --sidemenu-transition-duration: 0;
  }
}

/* --- Global -------------------------------------------------------- */
body {
  font-family: var(--font-family);
  letter-spacing: 0.15px;
  tab-size: 4;
  background: var(--background);
  color: var(--color);
  overflow: clip;
  height: 100dvh;
}

a {
  transition: all 0.3s ease-in-out;
}

button {
  font-family: var(--font-family);
}

/* --- Header -------------------------------------------------------- */
header {
  background: #34393f;
  padding: var(--header-padding);
  font-family: var(--font-family);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
}

header .breadcrumbs {
  flex: 1;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

#hamburger {
  position: relative;
  left: 0.2em;
  top: 0.05em;
  padding-right: 16px;
}

header .left {
  text-align: left;
  justify-content: left;
}

header .logo img {
  position: relative;
  height: 1.2em;
  top: 0.1em;
}

#share {
  text-align: right;
  color: var(--color);
  cursor: pointer;
  min-width: 2rem;
}

#share:hover {
  color: var(--color-hover);
}

#share > * {
  display: var(--display-desktop-only);
}

#share svg {
  position: relative;
  top: 0.2em;
}

.breadcrumbs li {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumbs li:not(:last-child) {
  display: var(--display-desktop-only);
}

.breadcrumbs li:not(:last-child)::after {
  content: "›";
  padding: 0 10px;
}

.breadcrumbs button {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.breadcrumbs button:hover {
  color: var(--color-hover);
}

/* --- Sidemenu ---------------------------------------------------------- */
#sidemenu {
  display: block;
  background-color: #34393f;
  color: #ffffffe5;
  font-family: arial, sans-serif;
  height: 100%;
  width: var(--sidemenu-width);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 4px 0 0 #00000040;
  transition-property: translate;
  transition-timing-function: ease-in-out;
  transition-duration: var(--sidemenu-transition-duration);
}

#sidemenu.hidden {
  translate: -100%;
}

#sidemenu header {
  border-bottom: 1px solid var(--border-color);
  color: white;
}

#sidemenu a,
#sidemenu button {
  font-family: var(--font-family);
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#sidemenu header button {
  padding: 5px;
}

#sidemenu a:hover,
#sidemenu button:hover {
  color: var(--color-hover);
}

#sidemenu ul {
  list-style: none;
  padding: 20px;
  line-height: 2.5;
}

#sidemenu ul.icons {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 32px 20px;
  border-top: 1px solid var(--border-color);
}

/* --- Main ---------------------------------------------------------- */
main {
  background: var(--background);
  width: var(--main-width);
  translate: var(--main-translate);
  height: calc(100vh - var(--header-height));
  display: flex;
  overflow: clip;
  transition-property: translate;
  transition-timing-function: ease-in-out;
  transition-duration: var(--slide-transition-duration);
}

main.view-output {
  translate: var(--slide);
}

.max-width-wrapper {
  max-width: var(--wrapper-max-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  font-family: var(--font-family-code);
  font-variant-ligatures: none;
  font-size: 1rem;
}

/* --- Editor -------------------------------------------------------- */
.editor-wrap {
  margin: var(--editor-margin);
  padding-bottom: var(--editor-padding-bottom);
  padding-top: 10px;
  padding-right: 1em;
  font-size: 1rem;
  flex: 1;
  overflow: auto;
  width: var(--editor-width);
  background: var(--background);
  border-radius: 6px;
  border: var(--editor-border);
}

.noscrollbar {
  /* only used on initialization to avoid scrollbar flicker */
  scrollbar-width: none;
}

.editor {
  color: var(--color);
  font-size: 1rem;
  font-family: var(--font-family-code);
  font-variant-ligatures: none;
  position: relative;
  overflow: hidden;
  width: max-content;
  min-width: 100%;
}

.editor textarea {
  line-height: inherit;
  white-space: pre-wrap;
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  resize: none;
  caret-color: var(--color);
  padding: inherit;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-variant-ligatures: inherit;
  letter-spacing: inherit;
  border: none;
  top: 0;
  left: 0;
  overflow: hidden;
  color: transparent;
}

.editor pre {
  line-height: inherit;
  white-space: pre-wrap;
  word-break: keep-all;
  padding: 0;
  width: max-content;
  margin: 0;
  font-size: inherit;
  font-variant-ligatures: inherit;
  letter-spacing: inherit;
  pointer-events: none;
  font-family: inherit;
}

.editor pre.highlighted {
  position: relative;
  overflow: hidden;
}

.editor pre.lines {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  min-width: 100%;
}

dialog .err,
.editor pre.highlighted .err {
  background: var(--syntax-error-background);
  border-radius: 6px;
}

.editor .num,
.editor .bool {
  color: var(--syntax-num);
}

.editor .str {
  color: var(--syntax-string);
}

.editor .func {
  color: var(--syntax-func);
}

.editor .builtin {
  color: var(--syntax-builtin);
}

.editor .keyword {
  color: var(--syntax-keyword);
}

.editor .error {
  background: var(--syntax-error-background);
  color: var(--color);
  font-style: italic;
}

.editor .op {
  color: var(--syntax-keyword);
}

.editor .comment {
  color: var(--syntax-comment);
  font-style: italic;
  font-weight: 300;
}

.editor .lines .num {
  position: absolute;
  color: var(--line-num-color);
  left: 0;
}

.editor .lines .txt {
  color: transparent;
  pointer-events: none;
}

.editor .lines .err.num {
  background: var(--syntax-error-background);
  color: var(--color);
}

.editor .lines .err.txt {
  left: calc(2ch + 1.2rem);
  right: 0;
  padding-left: 0.3rem;
  background: var(--syntax-error-line-background);
  border-radius: 6px;
  position: absolute;
}

.editor .lines .err.num::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0 H2 L10 12 L2 24 H0V0 Z' fill='%230057A8'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  content: "";
  width: 0.8rem;
  position: absolute;
  right: -0.8rem;
  top: 0;
  bottom: 0;
}

/* --- Output -------------------------------------------------------- */
.output {
  width: var(--output-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--output-border-light);
  border-radius: var(--output-border-radius);
  margin: var(--output-margin);
  border: var(--output-border);
  border-top-width: var(--output-border-top-width);
}

.output .canvas {
  margin-right: auto;
  background: var(--output-background);
  width: var(--canvas-size);
  height: var(--canvas-size);
  border-top: 1px solid var(--output-border-dark);
  border-top-width: var(--output-border-width);
  border-bottom: 1px solid var(--output-border-light);
}

.output .canvas canvas {
  width: 100%;
  height: 100%;
  touch-action: pinch-zoom;
}

@media (height <= 500px) {
  .output .canvas canvas,
  .output .canvas {
    width: calc(100vh - 250px);
    height: calc(100vh - 250px);
  }
}

.read {
  display: flex;
}

.output .console,
.output .read,
.output .input {
  padding: 16px;
  background: var(--output-background);
  color: var(--output-color);
  font-family: var(--font-family-code);
  font-variant-ligatures: none;
  border-top: 1px solid var(--output-border-dark);
  border-bottom: 1px solid var(--output-border-light);
  width: var(--console-size);
}

.output .read textarea {
  font-size: 1rem;
  font-family: var(--font-family-code);
  font-variant-ligatures: none;
  color: var(--output-color);
  -webkit-text-fill-color: var(--output-color);
  line-height: 1.5;
  height: 1.5em;
  margin-left: 16px;
  border: none;
  outline: none;
  resize: none;
}

.output .console {
  flex: 1;
  overflow: auto;
  white-space: pre;
  border-bottom-width: var(--output-border-width);
  padding-bottom: var(--editor-padding-bottom);
}

/* --- Run ----------------------------------------------------------- */
.run {
  padding: 8px;
  padding-bottom: 12px;
}

.run.mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
}

.run.desktop {
  border-top: 1px solid var(--output-border-dark);
  background: var(--output-background);
}

button.primary {
  color: var(--btn-color);
  background: var(--btn-background);
  box-shadow:
    0 4px 0 hsl(0deg 0% 42%),
    0 16px 12px -8px hsl(0deg 0% 0% / 42%),
    inset 0 -2px 1px 1px hsl(0deg 0% 42%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 52px;
  height: 52px;
  text-align: center;
  font-family: Inter, sans-serif;
  border: none;
  display: block;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
}

@media (hover: hover) {
  button:hover:enabled.primary {
    background: var(--btn-background-hover);
  }
}

button#run,
button#run-mobile {
  width: 100%;
}

button#run:disabled,
button#run-mobile:disabled,
button#run.loading,
button#run-mobile.loading {
  color: var(--btn-color-disabled);
  box-shadow:
    0 4px 0 hsl(0deg 0% 60%),
    0 16px 12px -8px hsl(0deg 0% 0% / 30%),
    inset 0 -2px 1px 1px hsl(0deg 0% 60%);
}

button.running#run,
button.running#run-mobile,
button.running#run:hover,
button.running#run:active,
button.running#run-mobile:hover,
button.running#run-mobile:active {
  color: var(--btn-color-active);
  letter-spacing: 0.2em;
  transition: 0s;
  background: linear-gradient(
    270deg,
    hsl(0deg 100% 67%) 0,
    hsl(47deg 22% 52%) 20%,
    hsl(105deg 37% 46%) 35%,
    hsl(162deg 27% 52%) 55%,
    hsl(223deg 36% 58%) 70%,
    hsl(292deg 59% 62%) 90%,
    hsl(0deg 100% 67%) 100%
  );
  animation: slide-background 1s linear infinite;
}

@keyframes slide-background {
  to {
    background-position: calc(var(--output-width) - 17px);
  }
}

/* --- Sample selection modal ---------------------------------------- */
#modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  overflow: clip;
  height: 100%;
  background: var(--modal-background);
}

#modal header {
  border-bottom: 1px solid var(--border-color);
  color: hsl(0deg 0% 70%);
  background: none;
  justify-content: right;
}

#modal-close {
  position: relative;
  right: 0.2em;
}

.header-icon {
  cursor: pointer;
  background: none;
  color: var(--color);
  border: none;
  font-size: 1rem;
}

.header-icon:hover {
  color: var(--color-hover);
}

.modal-main {
  font-family: var(--font-family);
  padding: 36px 36px 16px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - var(--header-height));
}

#modal .modal-main .section {
  width: var(--modal-section-width);
  padding-bottom: 16px;
}

#modal .modal-main h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 8px;
}

#modal .modal-main ul {
  padding-left: 6px;
  margin-bottom: 0;
  list-style: none;
}

#modal .modal-main li {
  padding-bottom: 6px;
  line-height: 1.6;
}

/* stylelint-disable no-descending-specificity */
#modal li a {
  font-family: var(--font-family);
  color: var(--modal-color);
  padding-left: 1.5rem;
  text-decoration: none;
  position: relative;
}
/* stylelint-enable no-descending-specificity */

#modal ul li a:hover {
  color: var(--modal-color-hover);
}

#modal ul li a::before {
  content: "";
  position: absolute;
  height: 1rem;
  left: 0;
  top: 0.125rem;
  width: 1rem;
  border: 2px solid var(--modal-circle-color);
  border-radius: 50%;
  background: var(--modal-circle-background);
  display: inline-block;
  z-index: 1;
}

#modal ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0.42rem;
  top: 1rem;
  width: 2px;
  background: var(--modal-circle-color);
}

/* --- Share dialog --------------------------------------------------- */
/* stylelint-disable no-descending-specificity */
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: 4px 4px 0 0 #00000073;
  border: 1px solid var(--border-color-dialog);
  padding: 0;
  width: var(--dialog-width);
}

dialog header {
  border-bottom: 1px solid var(--border-color);
  height: unset;
  line-height: 1.5;
  padding: 16px 30px;
  background: var(--background);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

dialog .header-icon {
  vertical-align: middle;
  line-height: 0;
  outline: none;
}

dialog .copy button {
  font-size: 1rem;
  border: none;
  background: none;
  color: var(--color);
  opacity: 0.6;
  stroke: none;
  cursor: pointer;
}
/* stylelint-enable no-descending-specificity */

::backdrop {
  background: hsl(210deg 5% 15% / 70%);
}

dialog h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color);
  padding: 0;
}

dialog main {
  font-family: var(--font-family);
  padding: 30px 30px 45px;
  background: var(--background);
  border-radius: 0 0 5px 5px;
  height: unset;
  flex-direction: column;
  width: 100%;
}

dialog .copy {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--border-color-dialog);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}

dialog .copy input {
  outline: none;
  background: none;
  color: var(--modal-color);
  border: none;
  font-size: 1rem;
  line-height: 2;
  padding: 0 16px 0 0;
  margin: 0;
  flex: 1;
  min-width: 10em;
}

dialog button.primary {
  width: 100%;
  margin-top: 30px;
}

dialog p {
  color: var(--modal-color);
}

#dialog-error .err {
  font-family: var(--font-family-code);
  color: var(--color);
  margin-left: 8px;
  margin-right: 8px;
}

#dialog-about {
  width: min(100vw, 52rem);
}

#dialog-about form {
  display: flex;
  flex-direction: column;
}

#dialog-about main {
  padding-top: 42px;
  max-height: 100vh;
  overflow: auto;
}

#dialog-about p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-top: 2rem;
}

#dialog-about .tagline {
  font-weight: 700;
}

embed {
  height: min(50vw, 12rem);
  margin-left: auto;
  margin-right: auto;
}

/* --- Utilities ----------------------------------------------------- */
.desktop {
  display: var(--display-desktop-only);
}

.mobile {
  display: var(--display-mobile-only);
}

.hidden {
  display: none;
}
