:root {
  /* theme */
  --font-family: "Inter", sans-serif;
  --font-family-code: "Fira Code", monospace;
  --background: hsl(210deg 5% 15%);
  --background-dimmed: hsl(213deg 10% 23%);
  --background-code: hsl(200deg 11% 18%);
  --color: hsl(0deg 0% 100%);
  --color-hover: hsl(0deg 0% 100% / 70%);
  --color-dimmed: hsl(0deg 0% 80%);
  --color-dimmed2: hsl(0deg 0% 100% / 30%);
  --color-slightly-dimmed: hsl(0deg 0% 90%);
  --color-primary: hsl(201deg 100% 42%);
  --color-primary-accent: hsl(201deg 100% 63%);
  --border-color: hsl(0deg 0% 100% / 20%);
  --border-color-strong: hsl(0deg 0% 100% / 40%);
  --primary-button-color: hsl(0deg 0% 33%);
  --primary-button-color-disabled: hsl(0deg 0% 33% / 50%);
  --primary-button-background: hsl(0deg 0% 92%);
  --primary-button-background-hover: hsl(0deg 0% 80%);

  /* size */
  --topnav-padding: 16px;
  --topnav-height: calc(var(--topnav-padding) * 2 + 1.5rem);
}

& img.logo {
  content: url("../img/logo.v1.svg");
}

/* mobile */
@media (max-width: 767px) {
  .desktop {
    /* !important is used to override any other display properties that have higher specificity */
    display: none !important;
  }
}

@media (min-width: 767px) {
  .mobile {
    /* !important is used to override any other display properties that have higher specificity */
    display: none !important;
  }
}
