<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>evy docs · {{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{.Root}}/img/favicon.png" />
    <link rel="stylesheet" href="{{.Root}}/css/resets.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/root.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/elements.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/icons.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/index.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/fonts.css" type="text/css" />
  </head>
  <body>
    <header class="topnav docs">
      <div class="left">
        <button class="icon-hamburger"></button>
        <a href="/" class="desktop">
          <img src="{{.Root}}/img/logo.svg" alt="Evy logo" class="logo" />
        </a>
      </div>
      <div class="mobile center">
        <span class="mobile">Overview</span>
      </div>
      <div class="right">
        <nav class="docs-nav">
          <div class="search">
            <div class="icon-search"></div>
            <input type="text" placeholder="Search..." />
          </div>
          <a href="index.html">Overview</a>
          <a href="syntax_by_example.html">Documentation</a>
          <button>About</button>
        </nav>
        <a href="/" class="mobile">
          <svg class="icon"><use href="#icon-evy" /></svg>
        </a>
      </div>
    </header>
    <main class="max-width-wrapper">{{.Content}}</main>
  </body>
</html>
