<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>evy docs · {{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{.Root}}/img/favicon.png" />
    <link rel="stylesheet" href="{{.Root}}/css/resets.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/root.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/elements.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/icons.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/switch.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/index.css" type="text/css" />
    <link rel="stylesheet" href="{{.Root}}/css/fonts.css" type="text/css" />
    <script type="importmap">
      {
        "imports": {
          "./module/theme.js": "./module/theme.js"
        }
      }
    </script>
    <script src="{{.Root}}/index.js" type="module"></script>
  </head>
  <body>

    <header class="topnav docs">
      <div class="left">
        <button class="icon-hamburger mobile" id="hamburger"></button>
        <a href="/" class="desktop">
          <img alt="Evy logo" class="logo" />
        </a>
      </div>
      <div class="mobile center">
        <span class="mobile">{{.Title}}</span>
      </div>
      <div class="right">
        <nav class="docs-nav">
          {{.Header}}
          <button>About</button>
          <label class="theme switch">
            <input type="checkbox" id="dark-theme" />
            <span class="slider"></span>
            <script>
              // Inline JS to avoid flash of other theme.
              const theme = window.localStorage.getItem("theme")
              const systemDarkTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
              if (theme === "dark" || (!theme && systemDarkTheme)) {
                document.querySelector("#dark-theme").checked = true
              }
            </script>
          </label>
        </nav>
        <a href="/" class="mobile logo-small"></a>
      </div>
    </header>

    {{if .Sidebar}}
      <nav id="sidebar">
        <header class="topnav mobile">
          <button class="icon-close" id="sidebar-close"></button>
        </header>
        {{.Sidebar}}
        <ul class="icons">
          <li><a href="/discord" class="icon-discord" target="_blank"></a></li>
          <li><a href="https://github.com/evylang/evy" class="icon-github" target="_blank"></a></li>
          <li><a href="mailto:evy@evy.dev" class="icon-email" target="_blank"></a></li>
        </ul>
      </nav>
    {{end}}

    <main>
      <div class="max-width-wrapper">
        {{.Content}}
      </div>
    </main>

  </body>
</html>
