<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{{- if .WithHeadLinks}}
    <link rel="icon" href="{{.Root}}/img/favicon.png" />
  {{- range .CSSFiles}}
    <link rel="stylesheet" href="{{$.Root}}/css/{{.}}" type="text/css" />
  {{- end}}
{{- else}}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡️</text></svg>" />
    <style>
      {{.DefaultCSS | indent 3}}
    </style>
{{- end}}
  </head>
  <body>
    {{.Content}}
  </body>
</html>
