name: ci/cd

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: ./bin/hermit env --raw >> $GITHUB_ENV
    - run: make ci

  release:
    runs-on: ubuntu-latest
    needs: [ ci ]
    if: github.event_name == 'push' # only run on push to master
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow --tags
    - run: ./bin/make release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
